<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678778155341-5gr8p860c40efbe4khc1tnuk1288a5k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678778155341-5gr8p860c40efbe4khc1tnuk1288a5k3</string>
	<key>API_KEY</key>
	<string>AIzaSyAK5gJxsnE16G1eRsQezZWWCjfFDOLDyKY</string>
	<key>GCM_SENDER_ID</key>
	<string>678778155341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perkins.Merge</string>
	<key>PROJECT_ID</key>
	<string>merge-29f4e</string>
	<key>STORAGE_BUCKET</key>
	<string>merge-29f4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678778155341:ios:541c08f1c8d69d44e74704</string>
</dict>
</plist>